<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="serverSettings" type="System.Configuration.SingleTagSectionHandler" />
    <section name="emailSettings" type="System.Configuration.SingleTagSectionHandler" />
    <section name="customSettings" type="System.Configuration.SingleTagSectionHandler" />
  </configSections>

  <!-- Version = server version -->
  <!-- Contact = server point of contact -->
  <!-- Name = server name (should match project name!!) -->
  <!-- Host = where the server resides -->
  <!-- Port = the port where the server expects requests -->
  <serverSettings version="0.1" contact="" name="nServer" host="localhost" port="8081" />

  <!-- Required for outbound email -->
  <emailSettings smtphost="" />

  <!-- !!your settings go below!! -->
  <customSettings />

</configuration>